<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cover.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <title>DevMeet Index Page</title>
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Link-Up</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link active" href="#">Home</a>
              <a class="nav-link" href="#">Login</a>
              <a class="nav-link" href="#">Signup</a>
            </nav>
          </div>
        </header>
      
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Meet Developers Around You</h1>
          <p class="lead">Link-Up is a social platform to meet and  Communicate with Software Engineers, Web-developers, and other Technical Experts.
            To share ideas, opportunities, and start-up programs </p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
          </p>
        </main>
      
        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>All Right Reserved 2020 <a href="https://getbootstrap.com/">Dejavu CORP </a>@ 2020</a>.</p>
          </div>
        </footer>
      </div>          
</body>
</html>