<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head.ejs") %>
    <title>DevMeet Index Page</title>
    <link rel="stylesheet" href="/css/cover.css">
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Link-Up</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link active" href="#">Home</a>
              <a class="nav-link" href="/sessions/new">Login</a>
              <a class="nav-link" href="/devusers/new">Signup</a>
              <form action="/search" method="get"> 
                <div class="input-group col-md-6">
                  <input class="form-control py-2" type="search" value="" id="example-search-input" name="zip">
                  <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" >
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
              </form>
              
              
            </nav>
          </div>
        </header>
      
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Meet Developers Around You</h1>
          <p class="lead">Link-Up is a social platform to meet and  Communicate with Software Engineers, Web-developers, and other Technical Experts.
            To share ideas, opportunities, and start-up programs </p>
          <p class="lead">
            <a href="https://www.upwork.com/" class="btn btn-lg btn-secondary">Learn more</a>
          </p>
        </main>
      
        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>All Right Reserved 2020 <a href="https://getbootstrap.com/">Dejavu CORP </a>@ 2020</a>.</p>
          </div>
        </footer>
      </div>          
</body>
</html>